<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <h2>Enter Your Details</h2>
    <form method="POST" acton="/user/new">
        <input type="text" name="username" placeholder="enter username"><br>
        <input type="email" name="email" placeholder="enter email"><br>
        <input type="password" name="password" placeholder="enter password"><br>
        <button>CREATE</button>
    </form>
</body>
</html>